#Capstone Project - Sentiment Analysis 
##Milestone No. 1
Data Engineering I: Cleaning data and converting data types

In [79]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Section 1 - read csv file
I converted the tsv file (1.1gb) into .csv file around 1mm records and 500mb file  but i planned to use at most, 20K records.

procedure -cleaning data 

1. upload the database to colab and assign it into a data frame variable name sentimentDf. I  

2. check the column header by executing .head()
3. delete unimportant columns

In [80]:
sentimentDf = pd.read_csv('./amazon_reviews_us_Wireless_sampling.csv')

In [81]:
sentimentDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   marketplace        19999 non-null  object
 1   customer_id        19999 non-null  int64
 2   review_id          19999 non-null  object
 3   product_id         19999 non-null  object
 4   product_parent     19999 non-null  int64
 5   product_title      19999 non-null  object
 6   product_category   19999 non-null  object
 7   star_rating        19999 non-null  int64
 8   helpful_votes      19999 non-null  int64
 9   total_votes        19999 non-null  int64
 10  vine               19999 non-null  object
 11  verified_purchase  19999 non-null  object
 12  review_headline    19999 non-null  object
 13  review_body        19995 non-null  object
 14  review_date        19999 non-null  object
dtypes: int64(5), object(10)
memory usage: 2.3+ MB

In [82]:
sentimentDf.head()

  marketplace  ...  review_date
0          US  ...    8/31/2015
1          US  ...    8/31/2015
2          US  ...    8/31/2015
3          US  ...    8/31/2015
4          US  ...    8/31/2015

[5 rows x 15 columns]

In [83]:
#dropping unneeded columns
toDrop =['marketplace','customer_id','review_id','product_id','product_parent','helpful_votes','total_votes','product_title','product_category','vine','verified_purchase','review_headline',	'review_date']

print(toDrop)

['marketplace', 'customer_id', 'review_id', 'product_id', 'product_parent', 'helpful_votes', 'total_votes', 'product_title', 'product_category', 'vine', 'verified_purchase', 'review_headline', 'review_date']

In [84]:
sentimentDf.drop(toDrop,axis=1,errors='ignore', inplace=True)

In [85]:
sentimentDf.head()

   star_rating                                        review_body
0            2  2 issues  -  Once I turned on the circle apps ...
1            4  I’m embarrassed to admit that until recently, ...
2            5                                 Fits iPhone 6 well
3            5  Great charger.  I easily get 3+ charges on a S...
4            5                            Great for the price :-)

In [86]:
sentimentDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   star_rating  19999 non-null  int64
 1   review_body  19995 non-null  object
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

#section2 
this is to show that I would only need the star rating given by the commenter to check if it is a positive or negative view 

a positive view will be rated 1 (4-5 stars) 0 for neutral (3 stars) and -1 for (1-2) stars

hence if star_rating => 4 to 5 then 1
         star_rating = 3 then 0 
         star_rating = 0 to 2 then -1 

review_body will be retained as is

In [87]:
# Convert 'star_rating' to -1,0 1 
# .map() will map values in the original to values in the specified data
star_ratingFlag = {
    1 : -1,
    2 : -1,
    3 : 0,
    4 : 1,
    5 : 1
}

sentimentDf['star_rating'] = sentimentDf['star_rating'].map(star_ratingFlag)
sentimentDf.head()

   star_rating                                        review_body
0           -1  2 issues  -  Once I turned on the circle apps ...
1            1  I’m embarrassed to admit that until recently, ...
2            1                                 Fits iPhone 6 well
3            1  Great charger.  I easily get 3+ charges on a S...
4            1                            Great for the price :-)

#saving it to amazon_reviews-cleaned

In [89]:
# Export new file from updated data frame
sentimentDf.to_csv('./amazon_review-cleaned.csv', index=False)